!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>AcWeb</title>
  <th:block th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />

    <!-- Bootstrap -->
    <script th:src="@{/js/bootstrap.bundle.js}" src="js/bootstrap.bundle.js"></script>

  </th:block>
</head>

<body class="bg">
Head fragment - rest intentionally left empty.
</body>

</html>