!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>AcWeb</title>
  <th:block th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Custom-->
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" />
    <script th:src="@{/js/custom.js}" src="/js/custom.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css" />
    <script th:src="@{/js/bootstrap.bundle.js}" src="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!--TreeView-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-treeview.css}" href="/css/bootstrap-treeview.css" type="text/css" />
    <script th:src="@{/js/bootstrap-treeview.js}" src="/js/bootstrap-treeview.js"></script>

    <!--Session-->
    <script type="text/javascript">
      const config = {
        rootUrl: "[[${session.url}?:'']]",
        csrf: {
          name: "[[${_csrf.parameterName}]]",
          value: "[[${_csrf.token}]]"
        },
        userId: +"[[${session.u != null} ? ${session.u.id} : -1]]"
      };
    </script>

    <!--CodeMirror-->
    <link rel="stylesheet" th:href="@{/css/monokai.css}" href="/css/monokai.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/codemirror.css}" href="/css/codemirror.css" type="text/css" />
    <script th:src="@{/js/codemirror.js}" src="/js/codemirror.js"></script>
    <script th:src="@{/js/clike.js}" src="/js/clike.js"></script>

    <!--d3-->
    <script th:src="@{/js/d3Components.js}" src="/js/d3Components.js"></script>
    <script th:src="@{/js/d3.js}" src="d3.js"></script>

  </th:block>
</head>

<body>
Head fragment - rest intentionally left empty.
</body>

</html>