.bg {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/bg.jpg);
}

.whiteBackground{
    background-color: white;
}

.labelForButton {
    background-color: blue;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.small-cell {
    width:1px;
}

div.rotated {
    transform: rotate(-70deg);
    height: 1em;
    width: 1em;
    padding-top: 4em;
    left: -2.5em;
    position: relative;
    margin-top: 5em;
}

/* GESTIONAR LINKS EN CODECOMPARISON */
.file-link-1, .file-link-2 {
    display: block;
    text-decoration: none;
    color: #007bff;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.file-link-1:hover, .file-link-2:hover,
.file-link-1:focus, .file-link-2:focus {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

