<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Code comparison</title>
  <th:block th:replace="fragments/header :: header" />
</head>
<body>
<th:block th:replace="fragments/nav :: nav"/>

<div id="main" class="row m-4" th:attr="index=${index}, length=${length}">
  <div th:if="${length > 1}" class="btn-group me-2">
    <button id="prev" type="button" class="btn btn-sm btn-outline-secondary"> < </button>
    <button id="next" type="button" class="btn btn-sm btn-outline-secondary"> > </button>
  </div>
  <div class="col-md-6 col-6">
    <h1 class="h2 text-center" th:text="${id1}"></h1>
    <textarea id="code1" th:text="${source1}"></textarea>
  </div>
  <div class="col-md-6 col-6">
    <h1 class="h2 text-center" th:text="${id2}"></h1>
    <textarea id="code2" th:text="${source2}"></textarea>
  </div>
</div>


<script>
  let it = parseInt(document.querySelector('#main').getAttribute("index"));
  console.log(it);

  let length = parseInt(document.querySelector('#main').getAttribute("length"));
  console.log(length);

  let code1 = document.querySelector('#code1');
  let code2 = document.querySelector('#code2');

  let codem1 = CodeMirror.fromTextArea(code1, {
    lineNumbers: true,
    tabSize: 2,
    value: code1.value,
    mode: 'text/x-java',
    resize: 'vertical',
    suppressEdits: true,
    theme: 'monokai',
    readOnly: true
  })

  codem1.setSize(screen.width/2, (screen.height*82)/100);

  let codem2 = CodeMirror.fromTextArea(code2, {
    lineNumbers: true,
    value: code2.value,
    mode: 'text/x-java',
    suppressEdits: true,
    resize: 'vertical',
    theme: 'monokai',
    readOnly: true
  })

  codem2.setSize(screen.width/2, (screen.height*82)/100);


  document.getElementById('prev').addEventListener('click', function () {
    let currentUrl = window.location.href;

    if(it === 0){
      it = length - 1;
    }else{
      it--;
    }

    let baseUrl = currentUrl.substring(0, currentUrl.length - 1);
    window.location.href = baseUrl + it;


  });

  document.getElementById('next').addEventListener('click', function () {
    let currentUrl = window.location.href;

    if(it === length -1 ){
      it = 0;
    }else{
      it ++;
    }

    let baseUrl = currentUrl.substring(0, currentUrl.length - 1);
    window.location.href = baseUrl + it;

  });

</script>
</body>
</html>