<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <th:block th:replace="fragments/header :: header" />
</head>
<body>
<th:block th:replace="fragments/nav :: nav"/>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse" >
      <th:block th:if="${analysis.getSubs().size() == 0}">
        <form name="myForm" method="POST" enctype="multipart/form-data" th:action="@{'/analysis/'+ ${analysis.getId()} + '/sources'}">
          <label for="file" class="form-label">ZIP file: </label>
          <input type="file" class="form-control" name="file" id="file"/><br>
          <button class="btn btn-primary my-2" type="submit" value="Upload" id="upload-button">Upload sources</button>
        </form>
      </th:block>
      <th:block th:unless="${analysis.getSubs().size() == 0}">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Run test</span>
              </h6>
              <a class="nav-link" th:href="@{'/analysis/' + ${analysis.getId()} + '/Zip_ncd_sim'}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text align-text-bottom" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                NCD sim
              </a>
            </li>
            <li>
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Apply filters</span>
              </h6>
              <form name="myForm" method="POST" enctype="multipart/form-data" th:action="@{'/analysis/'+ ${analysis.getId()} + '/newFilter'}">
                <div class="mb-3">
                  <input type="text" class="form-control" aria-describedby="filterHelp" name="filters" id="filters"/>
                  <div id="filterHelp" class="form-text">Set what kind of files you want to analyze giving the extension separated by commas.</div>
                </div>
                <button class="btn btn-primary my-2 btn-sm" type="submit" value="Upload">Filter sources</button>

              </form>
            </li>
            <li class="nav-item">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Fuentes subidos con éxito:</span>
              </h6>
              <div th:if="${analysis.getFilters().size() != 0}">
                <span>Applied filters: </span>
                <th:block th:each="i : ${analysis.getFilters()}">
                  <button class="btn btn-primary my-2 btn-sm" type="button" th:text="${i} + ' x'" style="border-radius: 12px;" onclick="removeFilter(event, this.getAttribute('filter'))" th:attr="filter=${i}"></button>
                </th:block>
              </div>
              <div class="tree table table-striped table-sm" id="tree" th:attr="analysis=${analysis.getId()}, size=${analysis.getSubs().size()}"></div>
            </li>
          </ul>
        </div>
      </th:block>
    </nav>

    <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Result of test for: <span th:text="${analysis.getName()}" style="color: #808080;"></span>
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button id="downloadButton" type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>

      <!--<canvas class="my-4 w-100" width="926" height="390" style="display: block; width: 926px; height: 390px;">-->
      <div class="table-responsive">
        <table class="table table-striped table-sm" th:if="${analysis.appliedTestKey.size() != 0}">
                <tr>
                  <th scope="col"></th>
                  <th scope="col" th:each="sub : ${analysis.getSubs()}" th:text="${sub.getId_authors()}"></th>
                </tr>
                <th:block th:each="sub : ${analysis.getSubs()}">
                  <tr>
                    <th class="small-cell" scope="row" th:text="${sub.getId_authors()}"></th>
                    <th:block th:each="i : ${sub.getData()}">
                      <th:block th:each="j : ${i.getResult()}">
                        <td class="small-cell" th:style="'background-color: rgb(' + ${(j*255)} + ' ' + ${(255-(j*255))} + ' 0)'">
                          <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" th:text="${#numbers.formatDecimal(j, 1, 2)}" th:href="@{'/analysis/' + ${analysis.getId()} + '/get/' + ${sub.getInternalId()} + '/' + ${analysis.getSubs().get(i.getResult().indexOf(j)).getInternalId()} + '/0'}" th:title="${sub.getId_authors()} + ' y ' + ${analysis.getSubs().get(i.getResult().indexOf(j)).getId_authors()} + ' tienen similitud ' + ${j}"></a>
                        </td>
                      </th:block>
                    </th:block>
                  </tr>
                </th:block>
        </table>
      </div>
      <div th:unless="${analysis.appliedTestKey.size() != 0}">
        <p>No result of test available</p>
      </div>
      <!--</canvas>-->

    </main>
  </div>
</div>
  <!--<th:block th:replace="fragments/footer.html :: footer"></th:block>-->

<script>
  /*FUNCIONES CREADAS PARA PINTAR ARBOL DE FUENTES*/
  async function getTree(url) {
    let tree = null;
    let size = document.getElementById("tree").getAttribute("size");
    while(size == 0){
      size = document.getElementById("tree").getAttribute("size");
    }

    await fetch(url)
            .then(response => response.json())
            .then(data => {
              console.log("Response ok");
              tree = data
            });
    return tree;
  }

  async function printTree(){
    //En un primer paso pintamos el árbol al obtener los sources
    let url = "/analysis/" + document.getElementById("tree").getAttribute("analysis") + "/getSources";
    console.log("proceeding to call function with " + url);
    let sources = await getTree(url);
    $('#tree').treeview({ data: sources, showBorder: false, color: '#0D6EFD', levels: 1, collapseIcon: 'bi bi-chevron-down', expandIcon: 'bi bi-chevron-right'});

    //En un segundo paso activamos un manejador para que cuando se seleccione un hijo se vea su código
    $('#tree').on('nodeSelected', async function (event, data) {
      console.log(data.nodeId + " was selected");
      window.location = "http://localhost:8080/analysis/" + document.getElementById("tree").getAttribute("analysis") + "/getFile" + data.href;
      console.log("Node was selected, exit function");

    });
    console.log("Out of function");
  }

  printTree();

  /* ELIMINAR FILTRO */
   function fetchData(url, buttonElement) {
    fetch(url)
            .then(response => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.text();
            })
            .then(text => {
              if (text) {
                const data = JSON.parse(text);
                // Haz algo con 'data' si es necesario
              }

              console.log("Response ok");
              printTree();
              buttonElement.remove(); // Elimina el botón
            })
            .catch(error => {
              console.error("Error fetching data:", error);
            });
  }

  function removeFilter(event, filter) {
    const url = "/analysis/" + document.getElementById("tree").getAttribute("analysis") + "/removeFilter/" + event.currentTarget.getAttribute("filter");

    // Obtén el elemento del botón y pásalo como argumento a fetchData
    const buttonElement = event.currentTarget;
    fetchData(url, buttonElement);
  }


  /* DESCARGAR SOURCES */
  document.addEventListener('DOMContentLoaded', function () {
    // Asignar un evento de clic al botón con el ID "downloadButton"
    document.getElementById('downloadButton').addEventListener('click', function () {
      let directoryName = document.getElementById("tree").getAttribute("analysis");
      // URL del endpoint del controlador DownloadController
      let url = "/analysis/download/" + document.getElementById("tree").getAttribute("analysis");

      // Realizar una llamada fetch para descargar el archivo ZIP
      fetch(url)
              .then(function (response) {
                if (!response.ok) {
                  throw new Error('Error al descargar el directorio: ' + response.statusText);
                }
                return response.blob();
              })
              .then(function (data) {
                // Crear un enlace temporal y simular un clic para descargar el archivo
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(data);
                link.download = directoryName + '.zip';
                link.style.display = 'none';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
              })
              .catch(function (error) {
                console.error(error);
              });
    });
  });

</script>
<script>
  const actualBtn = document.getElementById('my-file');

  const fileChosen = document.getElementById('file-chosen');

  actualBtn.addEventListener('change', async function () {
    let source = this.files[0];
    fileChosen.textContent = source.name;

    console.log("change detected")

    //enviamos el zip al controller
    let form = document.forms['myForm'];

    let formData = new FormData();
    formData.append("file", source); //parece ser que el multipart que se recibe es null

    let params = {
      method: "POST",
      headers: {},
      body: formData
    };

    params.headers["X-CSRF-TOKEN"] = config.csrf.value;
    console.log("sending", form.action, params);

    await fetch(form.action, params)
            .then(response => response.json())
            .then(data => console.log(data))
  });
</script>
</body>
</html>