<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show result of test</title>
    <th:block th:replace="fragments/header :: header" />
</head>
<body>
    <h1>Result of test:</h1>
    <table>
        <th:block th:each="i : ${result}">
            <tr>
                <th:block th:each="j : ${i}">
                    <td th:text="${j}" th:style="'background-color: rgb(' + ${(j*255)} + ' ' + ${(255-(j*255))} + ' 0)'"></td>
                </th:block>
            </tr>
        </th:block>
    </table>
</body>
</html>