<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Starting Page</title>
    <th:block th:replace="fragments/header :: header" />
</head>
<body>
    <div>
        <h1>Select you analysis</h1>
        <a th:href="@{/analysis}">New Analysis</a>
    </div>
    <div>
        <th:block th:if="${load}">
            <h5>Open recents:</h5>
            <ul th:each="i : ${previousAnalysis}">
                <li><a th:href="@{'/analysis/' + ${i.getId()} + '/'}" th:text="${i.getName()}"></a></li>
            </ul>
        </th:block>
    </div>
</body>
</html>