<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Starting Page</title>
    <th:block th:replace="fragments/header :: header" />
</head>
<body>
    <th:block th:replace="fragments/nav :: nav"/>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Select your analysis</h1>
                    <p class="lead text-muted">Above you can launch a new analysis</p>
                    <p>
                        <a th:href="@{/analysis}" class="btn btn-primary my-2">New Analysis</a>
                    </p>
                </div>
            </div>
        </section>


        <div class="album py-5 bg-light" th:if="${load}">
            <div class="container">
                <p class="lead text-muted">Open recent: </p>
                <div th:each="i : ${previousAnalysis}" class="list-group list-group-flush">
                    <a th:href="@{'/analysis/' + ${i.getId()} + '/'}" th:text="${i.getName()}" class="list-group-item list-group-item-action">Previous</a>
                </div>
            </div>
        </div>

    </main>
    <th:block th:replace="fragments/footer.html :: footer"></th:block>
</body>
</html>